nav {
    width: 100vw;
    height: 80px;
    background-color: #D4C6A4;
    color: #FFFFFF;
    display: flex;
    z-index: 99;
    justify-content: space-between;
    align-items: center;
    position: fixed
}

nav span {
    margin: 1.5em;
    padding: 5px;
    font-family: 'Bungee', cursive;
}

#error {
    color: rgb(220, 20, 60);
}

#write {
    cursor: pointer;
}

nav span:hover {
    color: #A4B1D4;
    opacity: 1;
}

.fa-chevron-up {
    display: none;
    z-index: 99;
    font-size: 80px;
    color: #A4B1D4;
    position: fixed;
    left: 35%;
    bottom: 5px;
    cursor: pointer;
    animation: bob 1.5s linear infinite;
}

@keyframes bob {

    0%,
    100% {
        bottom: 0;
    }

    50% {
        bottom: 30px;
    }
}

@media only screen and (max-width: 1024px) {
    .fa-chevron-up {
        font-size: 60px;
    }
}

@media only screen and (max-width: 780px) {
    .fa-chevron-up {
        font-size: 40px;
    }
}