form {
    display: none
}

textarea {
    width: 100%;
    outline: none;
    border: 0;
    background-color: #f4f1ec;
    border-bottom: 5px solid #545149;
    display: block;
    background: transparent;
}

input {
    background-color: #4056A1;
    border-radius: 6px;
    font-family: 'Bungee', cursive;
    color: rgba(255, 255, 255, 0.84);
}

input:focus {
    outline: 0;
}

.counter {
    float: right;
    font-family: 'Bungee', cursive;
}