.sidebar {
    height: 300px;
    width: 50%;
    background-color: #f4f1ec;
    position: relative;
    margin-top: 120px;
    background: transparent
}

div {
    position: fixed;
    top: 30%;
    left: 5%;
    width: 320px;
    height: 250px;
}

.profile {
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
}

.profile:hover {
    animation: spintowin 0.5s linear infinite;
}

@keyframes spintowin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

h3 {
    margin: 0;
    text-align: center;
}

.username {
    font-weight: 700;
}

@media only screen and (max-width: 780px) {
    div {
        width: 240px;
        height: 188px;
    }

    .profile {
        width: 150px;
        height: 150px;
    }

    h3 {
        font-size: 0.8em;
    }
}