article {
    border: 5px solid #545149;
    margin: 20px 0;
    padding: 10px;
    opacity: 0.74;
}

.tweet-header {
    display: flex;
    justify-content: space-between;
}

.ctx {
    border-bottom: 5px solid #545149;
}

.tweet-footer {
    display: flex;
    justify-content: space-between;
}

article:hover {
    box-shadow: 5px 10px #888888;
    opacity: 1;
    background: linear-gradient(rgba(164, 177, 212, 0.6), rgba(231, 176, 224, 0.6));
}

article:hover .hover-content {
    display: block;
    cursor: pointer;
}

.hover-content {
    display: none
}

article:hover .no-hover-content {
    display: none;
}

person {
    display: flex;
    justify-content: center;
    align-items: center;
}